/**
 * Created by mirekratman on 31/07/15.
 */

.page-container {padding:50px}
.tile-stats .num {font-size:28px}
.panel-primary {border-color:#ddd}
.panel-primary > .panel-heading {overflow:hidden; padding:10px; background:#fff; border-color:#ddd}
.panel-primary > .panel-heading h4 {font-size:20px}
    .panel-title {float:left}
    .panel-options {float:right}
.rickshaw_graph .detail .item {margin-top:40px}
.rickshaw_graph .detail .dot {margin-top:50px}

.boxCertificate dl {overflow:hidden}
.boxCertificate dl.list dd {float:left; padding:0 10px 0 0}